/* ListTree */
.tree-cell .tree-disclosure-node .arrow {
    -fx-scale-shape: false;
    -fx-background-color: transparent;
    -fx-shape: "M 0 4 L 0 -4 L 5 0 z";
    -fx-border-color: grey;
    -fx-border-width: 0.083333em;
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-scale-shape: false;

    -fx-background-color: -fx-mark-color;
    -fx-rotate: 0;
    -fx-shape: "M 0 3 L 6 -3 L 6 3 z";
    -fx-border-width: 0.083333em;
}

.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: transparent;
    -fx-border-color: #0096c9;
}

.tree-cell:filled:selected .tree-disclosure-node .arrow {
    -fx-border-color: #0096c9;
}

.tree-cell:filled:selected:hover .tree-disclosure-node .arrow {
    -fx-border-color: #0096c9;
}

/* AnchorPane */
#AP_option {
    -fx-background-color: #eeeeee;
}

/* Textarea */
.text-area {
    -fx-prompt-text-fill: rgba(109, 109, 109, 0.62);
}

#JTA_dst,#JTA_src,#JTA_src1,#JTA_src2,#JTA_src3,#JTA_dsthex,#JTA_dstbase64,#JTA_header,#JTA_payload,#JTA_vs,#JTA_token{
    -fx-font-size: 16;
    -fx-background-color: #e8e8e8;
}

/* Button */
#JBT_deCode,#JBT_enCode,#JBT_confirm,#JBT_enCrypt,#JBT_deCrypt,#JBT_loadFile,#JBT_loadFile1,#JBT_loadFile2{
    -fx-font-size: 15;
    -fx-background-color: #ffffff;
}

/* TextField */
.text-field {
    -fx-prompt-text-fill: rgba(109, 109, 109, 0.62);
}

/* Lable */
