/* ListTree */
.tree-cell .tree-disclosure-node .arrow {
    -fx-scale-shape: false;
    -fx-background-color: transparent;
    -fx-shape: "M 0 4 L 0 -4 L 5 0 z";
    -fx-border-color: grey;
    -fx-border-width: 0.083333em;
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-scale-shape: false;

    -fx-background-color: -fx-mark-color;
    -fx-rotate: 0;
    -fx-shape: "M 0 3 L 6 -3 L 6 3 z";
    -fx-border-width: 0.083333em;
}

.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: transparent;
    -fx-border-color: #9eecff;
}

.tree-cell:filled:selected .tree-disclosure-node .arrow {
    -fx-border-color: #9eecff;
}

.tree-cell:filled:selected:hover .tree-disclosure-node .arrow {
    -fx-border-color: #9eecff;
}

/* 滚动条部分 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    /*-fx-border-radius :2.0em;*/
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#646464,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    /*-fx-background-radius : 2.0em;*/
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#8a8a8a,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    /*-fx-background-radius : 2.0em;*/
}

/* AnchorPane */
#AP_option {
    -fx-background-color: #eeeeee;
}

/* Textarea */
.text-area {
    -fx-prompt-text-fill: rgba(109, 109, 109, 0.62);
    -fx-font-size: 16;
    -fx-background-color: #e8e8e8;
}

#NoBackgroundColorJFXArea {
    -fx-background-color: null;
}

/* Button */
.button {
    -fx-font-size: 15;
    -fx-background-color: #ffffff;
}

/* TextField */
.text-field {
    -fx-prompt-text-fill: rgba(109, 109, 109, 0.62);
}

/* Lable */
#JLB_title {
    -fx-font-family: Jokerman;
    /*-fx-font-family: 'Hylia Serif Beta';*/
    -fx-font-size: 45px;
}

/* font-family */
@font-face {
    font-family: 'Hylia Serif Beta';
    src: url("/fonts/HyliaSerif.otf");

}

@font-face {
    font-family: Jokerman;
    src: url("/fonts/JOKERMAN.TTF");
}
