/* ListTree */
.tree-cell .tree-disclosure-node .arrow {
    -fx-scale-shape: false;
    -fx-background-color: transparent;
    -fx-shape: "M 0 4 L 0 -4 L 5 0 z";
    -fx-border-color: grey;
    -fx-border-width: 0.083333em;
}

.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-scale-shape: false;

    -fx-background-color: -fx-mark-color;
    -fx-rotate: 0;
    -fx-shape: "M 0 3 L 6 -3 L 6 3 z";
    -fx-border-width: 0.083333em;
}

.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: transparent;
    -fx-border-color: #9eecff;
}

.tree-cell:filled:selected .tree-disclosure-node .arrow {
    -fx-border-color: #9eecff;
}

.tree-cell:filled:selected:hover .tree-disclosure-node .arrow {
    -fx-border-color: #9eecff;
}

.tree-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}

.tree-view {
    -fx-background-insets: 1;
}

/* 滚动条部分 */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    /*-fx-border-radius :2.0em;*/
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#646464,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    /*-fx-background-radius : 2.0em;*/
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#8a8a8a,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    /*-fx-background-radius : 2.0em;*/
}

/* Pane */
#borderPane {
    -fx-background-color: #f4f4f4;
}

#ACP_backgroundAnchorPane {
    -fx-background-color: #f4f4f4;
}

/* Textarea */
.text-area {
    -fx-prompt-text-fill: rgba(109, 109, 109, 0.62);
    -fx-font-size: 16;
    -fx-background-color: #e8e8e8;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: #D34336;
    -fx-font-size: 1em;
}

#NoBackgroundColorJFXArea {
    -fx-background-color: null;
}

/* Button */
.button {
    -fx-font-size: 15;
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}

/* TextField */
.text-field {
    -fx-text-fill: black;
    -fx-prompt-text-fill: rgba(109, 109, 109, 0.62);
}

/* Lable */
.label {
    -fx-text-fill: black;
}

#JLB_title {
    -fx-font-family: Jokerman;
    /*-fx-font-family: 'Hylia Serif Beta';*/
    -fx-font-size: 45px;
    -fx-text-fill: black;
}

/* font-family */
@font-face {
    font-family: 'Hylia Serif Beta';
    src: url("/fonts/HyliaSerif.otf");

}

@font-face {
    font-family: Jokerman;
    src: url("/fonts/JOKERMAN.TTF");
}

.menu-item .label {
    -fx-font-size: 16;
    -fx-padding: 0 5 0 5;
}

.combo-box-base .text{
    -fx-fill: black;
}

.combo-box .combo-box-popup .list-view,
.combo-box .combo-box-popup .list-cell {
    -fx-background-color: #ffffff ;
    -fx-text-fill: black ;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: black ;
    -fx-background-color: #0096c9 ;
}

.jfx-hamburger StackPane {
    -fx-background-color: black;
    -fx-background-radius: 5px;
}

.jfx-popup-container {
    -fx-background-color: #ffffff ;
}

#JBT_loadImg, #JBT_outImg, #JBT_LoadFiles{
    -fx-background-color: #e8e8e8 ;
}

.tree-table-view {
    -fx-background-color: #ffffff;
}

.tree-table-view .column-header {
    -fx-border-width: 0 0 0 0;
}

.tree-table-view .column-header-background{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #3c3c3c;
}

.tree-table-row-cell {
    -fx-background-color: #ffffff ;
    -fx-border-color: #ffffff ;
    -fx-border-style: solid;
}

.tree-table-row-cell .text{
    -fx-fill: black ;
}

.tree-table-row-cell:selected,
.tree-table-row-cell:selected:odd {
    -fx-background-color: #b9c1de, #d3d3d3, #b9c1de;
    -fx-background-insets: 0, 1, 2;
}

.check-box {
    -fx-text-fill: black;
    -jfx-checked-color: #228b22;
}

.jfx-toggle-button {
    -fx-text-fill: black ;
    /*-jfx-toggle-color: #00477d;*/
}

.jfx-toggle-button Line {
    -fx-stroke: gray;
}

.jfx-toggle-button:selected Line{
    -fx-stroke: -jfx-toggle-line-color;
}

.jfx-toggle-button Circle{
    -fx-fill: lightgray;
}

.jfx-toggle-button:selected Circle{
    -fx-fill: -jfx-toggle-color;
}

#JBT_GithubLink {
    -fx-text-fill: #2695ff;
    -fx-background-color: rgba(255,0,0,0)
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.jfx-layout-heading {
    -fx-background-color: #f4f4f4;
}

.jfx-layout-heading .label {
    -fx-font-size: 35px;
}

.jfx-layout-actions {
    -fx-background-color: #f4f4f4;
}

.jfx-layout-body {
    -fx-background-color: #f4f4f4;
}

.separator *.line {
    -fx-border-color: #E8E8E8;
    -fx-border-width: 1;
}